* {
  margin: 0;
}

.navbar {
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid rgb(248, 55, 55);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.articles-list {
  margin: 20px;
  text-align: center;
}
/* 
.article-list-comments {
  text-align: center;
} */

.all-articles {
  margin-top: 20px;
  padding-top: 10px;
  border-top: black solid 1px;
}

h2 {
  text-align: center;
  padding: 10px;
}

.article-list-detail {
  margin: 20px;
  text-align: center;
}

.article-author {
  text-align: left;
  padding-left: 50px;
  padding-bottom: 2px;
}

.article-img {
  height: auto;
  width: 500px;
  display: flex;
  justify-content: left;
  padding-left: 50px;
}

.article-body {
  margin: 10px;
  padding-top: 5px;
  text-align: left;
}

.article-date {
  text-align: right;
}

.article-topic {
  text-align: left;
  padding-left: 50px;
  padding-bottom: 2px;
}

.article-votes {
  text-align: left;
  padding-left: 50px;
}

.article-comments {
  text-align: left;
  padding-left: 50px;
}

.h4 {
  text-align: left;
}

.all-comments {
  padding-top: 10px;
}

.view-comments {
  text-align: left;
  padding-top: 20px;
  padding-left: 50px;
}

.comment-body {
  border-top: solid 1px black;
  padding-top: 5px;
}
