@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Rubik+Glitch&display=swap");

* {
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  border-bottom: 1px solid rgb(248, 55, 55);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

header {
  padding-left: 20px;
  padding-top: 10px;
}

.articles-list {
  display: grid;
  justify-content: center;
  width: auto;
}

.article-list-title {
  font-size: larger;
  font-weight: bold;
}

.all-articles {
  margin-top: 20px;
  padding-top: 10px;
  background-color: rgba(211, 211, 211, 0.692);
}

h2 {
  text-align: center;
  padding: 10px;
}

.article-list-detail {
  margin: 20px;
  padding: 0px;
  width: auto;
  display: grid;
  text-align: center;
}

.article-author {
  text-align: left;
  padding-left: 50px;
  padding-bottom: 2px;
}

.article-img {
  height: auto;
  width: 500px;
  display: flex;
  justify-content: left;
  padding-left: 50px;
}

.article-body {
  margin: 10px;
  padding-top: 5px;
  padding-left: 40px;
  text-align: left;
}

.article-date {
  text-align: right;
}

.article-topic {
  text-align: left;
  padding-left: 50px;
  padding-bottom: 2px;
}

.article-votes {
  text-align: left;
  padding-left: 50px;
}

.article-comments {
  text-align: left;
  padding-left: 50px;
}

.h4 {
  text-align: left;
}

.all-comments {
  background-color: rgba(211, 211, 211, 0.692);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.view-comments {
  text-align: left;
  padding-left: 50px;
}

.comment-body {
  padding-top: 5px;
}

.btn-outline-success {
  margin-right: 5px;
}

.add-comments-main-container {
  text-align: left;
  padding-left: 50px;
  margin-bottom: 20px;
}

.btn-outline-primary {
  margin-left: 5px;
  margin-bottom: 30px;
}

.user-img {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.btn-outline-dark {
  position: relative;
  left: 90%;
}

.topics-links {
  text-decoration: none;
  display: block;
  list-style-type: none;
  cursor: pointer;
}

.topics-links:hover {
  background-color: #0d6dfd71;
}
